{% load static %}

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:􀇓􀇏􀇏" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <title>Django Blog</title>
    </head>
    <body>
        <header>
            <div class="nav-left">
                <h1><a href="{% url 'home' %}">Django blog</a></h1>
            </div>
            <div class="nav-right">
                <a href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
        </header>

        {% if user.is_authenticated %}
            <p>Hello {{user.username}} </p>
            <a href="{%url 'logout' %}">Logout</a>

        {% else %}
            <p>You are not logged in.</p>
                <a href="{% url 'login' %}">Log in.</a>
        {% endif %}

        <div >
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>