{% extends 'base.html' %}

{% block content %}

    <h1>New Post</h1>

    <form action="" method="post">
        {% csrf_token %} <!--protection from xs attack-->
        {{ form.as_p }} <!--form output in paragraph mode-->
        <input type="submit" value="Save">
    </form>

{% endblock content %}