{% extends 'base.html' %}

{% block content %}

<h2>Sign Up Sheet</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
</form>

{% endblock content %}